@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
    --g-hover: rgba(231,233,234,0.1);
}
.test{
    position:fixed;
    background-color: #5B708366;
    width: 100vw;
    left: 0;
    height: 100vh;
}
.by-si{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40rem;
    width: 38rem;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.f-h2{
    font-size: 20px;
}
.h-si{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 56px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    gap: 2rem;
}
.icon-x{
    background-color: antiquewhite;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    padding: 0.5rem;
}

.bot-su{
    width: 100%;
    height: 4rem;
}
.form-su{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 1.5rem 5rem;

}
.btn-s{
    position: relative;
    height: 3.5rem;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}















/* section 1 */
.h1-head{
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
}
.input-sty{
    height: 3.5rem;
    margin: 1rem 0 0.5rem 0;
    padding: 0 0.5rem;
    outline: none;
    border:1px solid var(--g-hover) ;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
}
.h-u-m:hover{
    text-decoration:underline;
}
.date-o-b{
    margin: 1rem 0;
}
.p-sty{
    color: grey;
    margin: 0.5rem 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
.date-sty{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    margin: 1rem 0;
}
.opt-1{
    width: 13rem;
    
}
.opt-2{
    width: 6rem;
}
.opt-3{
    width: 7rem;
}
.sty-date{
    padding: 0 0.5rem;
    outline: none;
    border:1px solid var(--g-hover) ;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    color: gray;
    font-family: 'Rubik', sans-serif;
}